@charset "utf-8";

* {
    font-family: "Times New Roman", Times, serif;
}
 
/* Body and Images */

html {
    color: white;
    background-color: rgb(76, 145, 76);
}

img {
    margin: 0rem 1.5rem; 
    border: solid 2px rgb(64, 126, 64);

}


/* Table Styles */

th {
    text-align: left;
}

table {
    width: 675px;
}

table, th, td {
    font-weight: normal;
    background-color: rgb(134, 199, 134);
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    padding: 10px
}

tr, th, td{
    border: 1px solid black;
    padding: 10px;

}

/* Text Adjustments */



.center {
    padding: 10px 0px;
    text-align: center;
}

.listPad {
    padding-left: 10px;
}

caption {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}
